/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
}

/* Top Social Media Icons */

.sm-icons {
  text-align: center;
  padding-top: 30px;
}
.sm-icons a {
  text-decoration: none;
}
.sm-icons img {
  width: 40px;
  margin-left: 10px;
}

/* Background Image */
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 0.474)),
    url("https://raw.githubusercontent.com/suraj122/AC-STYLE-checkpoint-2/c56a65f9e9926a53b66c431fc3653612c8b1900a/assets/media/banner.jpg");

  background-repeat: no-repeat;
  padding-bottom: 160px;
}

/* Main Heading + Navigation */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 30px 100px;
}

.black-bar {
  width: 100%;
  height: 20px;
  background-color: black;
}

/* Navigation bar */
.nav a {
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  color: black;
  margin-left: 10px;
}
/* Logo -left */
.brand img {
  width: 80px;
}
.brand {
  display: flex;
  justify-content: left;
}

.left-side-logo h2 {
  padding-left: 10px;
}
.nav .active {
  color: #eb523e;
  border-top: 4px solid #eb523e;
  padding-top: 26px;
}
.contact {
  margin-right: 20px;
}

/* Main Hero Content */
.heading-hero {
  text-align: center;
  padding-top: 150px;
}
.heading-hero h1 {
  font-size: 48px;
  font-weight: 900;
  text-decoration: underline;

  color: #fff;
}
.heading-hero p {
  font-size: 28px;
  font-weight: 500;
  padding: 20px 0;

  color: #fff;
}
.heading-hero button {
  background-color: #eb523e;
  color: white;
  padding: 15px;
  border: 1px solid #eb523e;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 8px;
}
.dots {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.dots .dot-1 {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}
.dots .dot-2 {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.488);
  border-radius: 50%;
  margin-right: 10px;
}
.section-3 h1 {
  font-size: 38px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #2f2e29;
  text-align: center;
  padding-top: 100px;
}
.section-3 h5 {
  font-size: 18px;
  text-transform: uppercase;
  color: #2f2e29;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
.rectangles {
  margin: 0 auto;
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.rectangles img {
  width: 50px;
  padding: 100px 100px;
}
.rect-1 {
  width: 250px;
  height: 250px;
}
.green {
  background-color: #5bbd9d;
}
.orange {
  background-color: #e57f30;
}
.blue {
  background-color: #3998da;
}
.greeny {
  background-color: #68ce72;
}
.gallery img {
  width: 250px;
}
.gallery {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.members img {
  border-radius: 50%;
}
.section-4 h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #2f2e29;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}
.section-4 h4 {
  font-size: 20px;
  color: #2f2e29;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.section-col {
  line-height: 1.2;
  width: 70%;
  padding-right: 50px;
}

.section-col-2 .photo {
  background-color: #eb523e;
  margin: 10px 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
.section-col-2 .html {
  background-color: #eb523e;
  margin: 10px 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
  width: 120px;
}
.section-col-2 .dev {
  background-color: #eb523e;
  margin: 10px 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
}
.section-col-2 .mar {
  background-color: #eb523e;
  margin: 10px 0;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 900;
}

.grey-div {
  background-color: grey;
  width: 150px;
}
.orange-div {
  background-color: #eb523e;
  width: 50%;
  padding: 10px 0 10px 10px;
}
.orange-div p {
  color: white;
  font-size: 20px;
}

.section-1-2 {
  display: flex;
  justify-content: center;
}
.design-skills-1 {
  display: flex;
  justify-content: left;
}

.photoshop-percent {
  width: 25px;
  height: 36px;
  background-color: grey;
  margin: 10px 0;
}
.html-percent {
  width: 25px;
  height: 36px;
  background-color: grey;
  margin: 10px 0;
}
.development-percent {
  width: 25px;
  height: 36px;
  background-color: grey;
  margin: 10px 0;
}
.marketing-percent {
  width: 25px;
  height: 36px;
  background-color: grey;
  margin: 10px 0;
}
.section-5 h3 {
  font-size: 48px;
  text-transform: uppercase;
  color: #2f2e29;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}
.section-5 h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: #2f2e29;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.img-div {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.img {
  width: 1000px;
  text-align: center;
}
.last-text p {
  line-height: 1.3;
}
.last-text {
  padding-right: 50px;
}
.form h6 {
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 0;
  padding-right: 300px;
  font-weight: 500;
  color: grey;
}
.form h4 {
  border: 1px solid grey;
  padding: 10px;
  padding-bottom: 80px;
  margin: 10px 0;
  padding-right: 300px;
  font-weight: 500;
  color: grey;
}
.form .submit {
  background-color: #eb523e;
  text-align: center;
  padding: 15px 0;
  color: white;
}
.text-box {
  display: flex;
  justify-content: center;
  margin: 100px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer small {
  color: grey;
}
.footer .button a {
  background-color: #eb523e;
  color: white;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* Gallery Page*/
.aside {
  background-color: #eb523e;
  padding: 20px;
  width: 30%;
  position: fixed;
}
.brand-logo-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 50px 0;
}
.brand-logo-gallery h1 {
  font-size: 48px;
  color: white;
}
.brand-logo-gallery h4 {
  font-size: 12px;
  color: white;
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 5px;
}
.logo-attach {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-text h2 {
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  margin-top: 500px;
  margin-bottom: 20px;
}
.aside-text p {
  line-height: 1.3;
}
.sm-icons-gallery a {
  text-decoration: none;
}
.section-1-aside {
  display: flex;
  justify-content: left;
  /* align-items: top; */
}
main {
  margin: 0 auto;
  text-align: center;
}
main h1 {
  font-size: 44px;
  margin-top: 20px;
  font-weight: 550;
  color: black;
  text-decoration: none;
}
.main-gallery-images {
  display: flex;
  justify-content: space-evenly;
}
.gallery-images-1 img {
  width: 400px;
  margin: 30px;
}
.gallery-images-2 img {
  width: 400px;
  margin: 30px;
}
.main-gallery-images img {
  border: 2px solid black;
  border-radius: 5px;
}
.last-text span {
  color: orangered;
}
.sm-icons-gallery img {
  width: 35px;
  margin-top: 20px;
  margin-right: 10px;
}
.logo-attach h2 {
  font-size: 25px;
  color: white;
  margin-right: 50px;
  text-transform: uppercase;
}
.brand-logo-gallery a {
  text-decoration: none;
}
.gallery-header {
  text-decoration: none;
}
